<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/wallpaperflare-cropped.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>CLOUD FARM</h1>
                    <span class="subheading">The Cloud Farm Project. To Farm in the Clouds.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 lh-1">
            <div class="continer pt-5 pb-2 text-uppercase">
                <div class="font-small">
                    <p class="text-center">A PLATFORM FOR IDEAS, EXPERIMENTS, AND RESULTS.</p>
                </div>
                <div class="fs-3">
                    <p class="text-center">Create Your First Farm. It's Easy!</p>
                </div>
                <div class="d-grid gap-2 px-5 text-center">
                    <button type="button" class="btn btn-outline-secondary" (click)="newfarmClick()">Create Farm</button>
                </div>
            </div>
            <div class="container pt-5 pb-2">
                <div class="row align-items-start">
                    <div class="col px-2 me-2">
                        <div class="post-preview">
                            <div class="font-small">
                                <h2 class="post-title text-center text-uppercase">Brief</h2>
                            </div>
                            <div class="fs-3">
                                <p class="post-subtitle text-center text-uppercase">The Project...</p>
                            </div>
                            <p class="text-center font-tiny lh-lg">
                                The Cloud Farm Project is here to make the greenhouse process easier and more efficient.
                                Imagine a plant. Now imagine it bigger! The in-between is our goal...
                            </p>
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/about">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col px-2 ms-2 text-center">
                        <img src="assets/img/wispy bee.jpg" class="rounded img-content" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>