<div class="_body" class="about_body">
    <div class="holder_container">
        <div class="holder_header">
            <h1>ABOUT</h1>
            <h2>Cloud Farm</h2>
        </div>
        <div class="holder_text">
            <p class="explainer_text">
                A better explanation of what this project is...
            </p>
        </div>
    </div>
    <div class="container">
        <section>
            <h2>
                About Project
            </h2>
            <div class="_dialog">
                <div class="dialog_box">
                    <p class="explainer_text">{{project_explainer_log}}</p>
                </div>
            </div>
        </section>
        <section>
            <h2>
                About Developer
            </h2>
            <div class="dialog_box">
                {{developer_explainer_log}}
            </div>
        </section>
        <section>
            <h2>
                Contact
            </h2>
            <div class="dialog_box">
                <div class="square_bubble">
                    <h3>{{dev_name}}</h3>
                    <p>
                        Email: {{dev_email}}<br>
                        phone: {{dev_phone}}<br>
                        LinkedIn: {{dev_linkedIn}}
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
