nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
<<<<<<< HEAD
=======
a {
    color: black;
    text-decoration: none;
}
>>>>>>> main
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 10px;
}
.headernav {
    height: 5vh;
}
.headernav li a {
    font-size: 12px;
    font-weight: bold;
    color: #2b2b2b;
}
.headernav li a:hover, .headernav li a.current {
    color:#5dfb4b;
}
.headernav li a.active {
    color: #15d600;
}
.nav_img {
    float: left; 
}
.logo_img {
    width: 50px;
    height: 50px;
    background: url("src/assets/img/cloudfarminglogo.png");
    background-size: cover;
}
.logo_img:hover {
    background: url("src/assets/img/cloudfarminglogo2.png");
    background-size: cover;
}
