<div class="_body">
    <div class="form">
        <div class="container">
            <h1>
                Add a new farm to the fray!
            </h1>
            <p>{{message_about_farm}}</p>
        </div>
        <div class="back_container">
            <div class="back_attr">
                <a routerLink="/farm">
                    <div class="_button">
                        <div class="func_img back_button" id="newfarm_back_farm"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
