.form-styling {
    position: relative;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.bg-sign {
    background-color: beige;
    min-height: 90vh;
    padding-bottom: 10%;
}
.sign-card {
    max-width: 35%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
.nav-offset {
    margin: 0;
    margin-bottom: 3%;
    height: 15vh;
    background-color: rgba(0,0,0,0.1);
}
.text-button a {
    text-decoration: underline;
    color: rgba(26, 27, 31, 0.6);
    font-size: 14px;
}
.text-button:hover a {
    color: rgba(95, 232, 90, 0.4);
}