<div class="_body" class="hub_body">
    <div class="container">
        <div class="button_container">
            <a routerLink="/farm"><h1>
                FARMS
            </h1></a>
        </div>
        <div class="button_container">
            <a routerLink="/documentation"><h1>
                DOCUMENTATION
            </h1></a>
        </div>
        <div class="button_container">
            <a><h1>
                MESSAGING & NODES
            </h1></a>
        </div>
    </div>
</div>
