<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand brand-main" routerLink="/">
            <img src="../assets/img/cloudfarminglogo.png" alt="cloud farm logo image" width="30" height="24" class="d-inline-block align-text-top">
            CLOUD FARM
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4 active" aria-current="page" routerLink="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/hub">HUB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/about">ABOUT</a>
                </li>
                <li [hidden]="isAuthenticated" class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/login">LOGIN</a>
                </li>
                <li [hidden]="isAuthenticated" class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" routerLink="/signup">SIGNUP</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li [hidden]="!isAuthenticated" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" data-bs-toggle="dropdown">
                      Profile
                    </a>
                      
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Edit Profile</a>
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item" routerLink="/login" (click)="logOut()">Logout</a>
                    </div>
                </li>
            </ul>
      </div>
    </div>
  </nav>