<div class="container-fluid clear">
    <header class="masthead" style="background-image: url('assets/img/laura-crowe-vsrEr7otP2o-unsplash.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="pg-heading text-center">
                        <h1>ABOUT US</h1>
                        <span class="subheading">Learn More About The Cloud Farm Project.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="paragraph">
            <p>
                <span class="lead">
                The Cloud Farm Project is the application of cloud computing and
                <abbr title="Internet of Things" class="initialism">IoT</abbr> to 
                configure, monitor, and maintain automated greenhouses.
                The Cloud Farm Server connects to a client device (farm), handling its logs through the application.
                We enable users to access their clients from anywhere in the world, make changes to procedures,
                experiment for different results, and eventually talk and post about it. 
                The Cloud Farm Application offers a simple platform for agricultural science, creativity, and 
                the fun moments you get watching something grow!
                Have fun planting! Read more on our ideas and designs <a href="#">here</a>.
                </span>
            </p>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div>
            <figure class="text-center quote-enclose">
                <blockquote class="blockquote">
                    Men are mortal. So are ideas. An idea needs propagation as much as a plant needs watering.
                    Otherwise both will wither and die.
                </blockquote>
                <figcaption class="blockquote-footer">
                    B. R. Ambedkar
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="container-fluid mt-lg-5 pt-4">
        <div class="card-enclose row">
            <div class="card col-sm-6 card-sizing bg-color">
                <img src="../../../assets/img/favicon.png" class="img-sizing" alt="cloud farm logo">
                <div class="card-body">
                  <h5 class="card-title">Contact</h5>
                  <ul class="card-txt">
                      <li>Email: <a type="email" href="#">muketefrank@gmail.com</a></li>
                      <li>Linkedin: <a href="">Linkedin.me</a></li>
                      <li>Address: Lubbock, Texas</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
