<div class="_body" class="farm_body">
    <div class="page_title_container">
        <div class="title_container">
            <h1>Farms</h1>
        </div>
        <div class="explainer_text">
            <p>A solution to farm automation and easy plant managment</p>
        </div>
    </div>
    <div class="applications_tabs_container">
        <div class="new_farm_container">
            <button>
                Add New Farm
            </button>
        </div>
    </div>
    <div class="back_container">
        <div class="back_attr">
            <a routerLink="/hub">
                <div class="img" id="farm_back_hub_img"></div>
            </a>
        </div>
    </div>
</div>
