 @font-face {
    font-family: Roboto;
    src: url(src/assets/fonts/Roboto/Roboto-Light.ttf)
 }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 42px;
}
.explainer_text {
    font-size: 14px;
}
.info_blocks {
    box-sizing: border-box;
}
.info_block_row {
    margin: 0 -5px;
}
.info_block_row:after {
    content: "";
    display: table;
    clear: both;
} 
.card {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.card:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card_container {
    /* Add some padding inside the card container */
    padding: 2px 16px;
}