<div class="fluid-container">
    <header class="masthead" style="background-image: url('assets/img/clint-adair-BW0vK-FA3eg-unsplash.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="pg-heading text-center">
                        <h1>FARM HUB</h1>
                        <span class="subheading">Hub or Pub? Anyways We Plant Here Too.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="fluid-container">
        <div class="row mb-3">
            <button type="button" class="btn btn-primary mybutton">My Farms</button>
        </div>
        <div class="row my-3">
            <button type="button" class="btn btn-primary mybutton">Connect</button>
        </div>
        <div class="row my-3">
            <button type="button" class="btn btn-primary mybutton">Documentation</button>
        </div>
        <div class="row my-3">
            <button type="button" class="btn btn-primary mybutton">Research</button>
        </div>
    </div>
</div>
